body{background-color:rgb(255, 255, 255);}
h2{color:darkred;}
h1{font-family:Verdana,sans-serif;
font-size:28px;}
p{font-family:"Times New Roman",serif;
font-size:18px;}
a{color:green;
text-decoration:none;}
a:hover{color:darkgreen;
text-decoration:none;}
img{border:3px solid black;
border-radius:10px;}